* text=auto !eol
Appcelerator/Boomerang/.project -text
Appcelerator/Boomerang/.pydevproject -text
Appcelerator/Boomerang/.settings/com.aptana.editor.common.prefs -text
Appcelerator/Boomerang/Boomerang.xcodeproj/project.pbxproj -text
Appcelerator/Boomerang/Boomerang.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
Appcelerator/Boomerang/CHANGELOG.txt -text
Appcelerator/Boomerang/Classes/ComSoastaBoomerangModule.h -text
Appcelerator/Boomerang/Classes/ComSoastaBoomerangModule.m -text
Appcelerator/Boomerang/Classes/ComSoastaBoomerangModuleAssets.h -text
Appcelerator/Boomerang/Classes/ComSoastaBoomerangModuleAssets.m -text
Appcelerator/Boomerang/ComSoastaBoomerang_Prefix.pch -text
Appcelerator/Boomerang/LICENSE -text
Appcelerator/Boomerang/LICENSE.txt -text
Appcelerator/Boomerang/README -text
Appcelerator/Boomerang/assets/README -text
Appcelerator/Boomerang/build.py -text
Appcelerator/Boomerang/documentation/index.md -text
Appcelerator/Boomerang/example/app.js -text
Appcelerator/Boomerang/hooks/README -text
Appcelerator/Boomerang/hooks/add.py -text
Appcelerator/Boomerang/hooks/install.py -text
Appcelerator/Boomerang/hooks/remove.py -text
Appcelerator/Boomerang/hooks/uninstall.py -text
Appcelerator/Boomerang/manifest -text
Appcelerator/Boomerang/module.xcconfig -text
Appcelerator/Boomerang/platform/README -text
Appcelerator/Boomerang/timodule.xml -text
Appcelerator/Boomerang/titanium.xcconfig -text
Boomerang.xcodeproj/project.pbxproj -text
Boomerang.xcodeproj/xcshareddata/xcschemes/BoomerangTests.xcscheme -text
Boomerang.xcodeproj/xcshareddata/xcschemes/BoomerangTestsWithPods.xcscheme -text
Boomerang.xcworkspace/contents.xcworkspacedata -text
Boomerang.xcworkspace/xcshareddata/Boomerang.xccheckout -text
Boomerang/Beacons/MPAppFinishedLaunchingBeacon.h -text
Boomerang/Beacons/MPAppFinishedLaunchingBeacon.m -text
Boomerang/Beacons/MPAppIsInactiveBeacon.h -text
Boomerang/Beacons/MPAppIsInactiveBeacon.m -text
Boomerang/Beacons/MPBeacon.h -text
Boomerang/Beacons/MPBeacon.m -text
Boomerang/Beacons/MPMetricBeacon.h -text
Boomerang/Beacons/MPMetricBeacon.m -text
Boomerang/Beacons/MPNetworkCallBeacon.h -text
Boomerang/Beacons/MPNetworkCallBeacon.m -text
Boomerang/Beacons/MPNetworkErrorBeaconGenerator.h -text
Boomerang/Beacons/MPNetworkErrorBeaconGenerator.m -text
Boomerang/Boomerang-Prefix.pch -text
Boomerang/ClientBeaconBatch.pb.cc -text
Boomerang/ClientBeaconBatch.pb.h -text
Boomerang/Collection/MPBatch.h -text
Boomerang/Collection/MPBatch.mm -text
Boomerang/Collection/MPBatchRecord.h -text
Boomerang/Collection/MPBatchRecord.m -text
Boomerang/Collection/MPBatchTransport.h -text
Boomerang/Collection/MPBatchTransport.m -text
Boomerang/Collection/MPBeaconCollector.h -text
Boomerang/Collection/MPBeaconCollector.m -text
Boomerang/Collection/MPBeaconURLProcessor.h -text
Boomerang/Collection/MPBeaconURLProcessor.m -text
Boomerang/Collection/MPBucketUtility.h -text
Boomerang/Collection/MPBucketUtility.m -text
Boomerang/Collection/MPNumberDictionary.h -text
Boomerang/Collection/MPNumberDictionary.m -text
Boomerang/Collection/MPTimerData.h -text
Boomerang/Collection/MPTimerData.m -text
Boomerang/Config/MPTouchAction.h -text
Boomerang/Config/MPTouchAction.m -text
Boomerang/Config/MPTouchCondition.h -text
Boomerang/Config/MPTouchCondition.m -text
Boomerang/Config/MPTouchConfig.h -text
Boomerang/Config/MPTouchConfig.m -text
Boomerang/Config/MPTouchDimension.h -text
Boomerang/Config/MPTouchDimension.m -text
Boomerang/Config/MPTouchExtract.h -text
Boomerang/Config/MPTouchExtract.m -text
Boomerang/Config/MPTouchMetric.h -text
Boomerang/Config/MPTouchMetric.m -text
Boomerang/Config/MPTouchPageGroup.h -text
Boomerang/Config/MPTouchPageGroup.m -text
Boomerang/Config/MPTouchTimer.h -text
Boomerang/Config/MPTouchTimer.m -text
Boomerang/Demographics/MPDemographics.h -text
Boomerang/Demographics/MPDemographics.m -text
Boomerang/Demographics/MPGeoLocation.h -text
Boomerang/Demographics/MPGeoLocation.m -text
Boomerang/Demographics/MPReachability.h -text
Boomerang/Demographics/MPReachability.m -text
Boomerang/Intercept/MPInterceptURLConnectionDelegate.h -text
Boomerang/Intercept/MPInterceptURLConnectionDelegate.m -text
Boomerang/Intercept/MPInterceptURLSessionDelegate.h -text
Boomerang/Intercept/MPInterceptURLSessionDelegate.m -text
Boomerang/Intercept/MPInterceptUtils.h -text
Boomerang/Intercept/MPInterceptUtils.m -text
Boomerang/Intercept/NSURLConnection+MPIntercept.h -text
Boomerang/Intercept/NSURLConnection+MPIntercept.m -text
Boomerang/Intercept/NSURLSession+MPIntercept.h -text
Boomerang/Intercept/NSURLSession+MPIntercept.m -text
Boomerang/MPConfig.h -text
Boomerang/MPConfig.m -text
Boomerang/MPSession.h -text
Boomerang/MPSession.m -text
Boomerang/MPTimerBeacon.h -text
Boomerang/MPTimerBeacon.m -text
Boomerang/MPUIApplicationDelegateHelper.h -text
Boomerang/MPUIApplicationDelegateHelper.m -text
Boomerang/MPURLConnection.h -text
Boomerang/MPURLConnection.m -text
Boomerang/MPUtilities.h -text
Boomerang/MPUtilities.m -text
Boomerang/MPulse.h -text
Boomerang/MPulse.m -text
Boomerang/MPulsePrivate.h -text
Boomerang/NSNumber+MPExtensions.h -text
Boomerang/NSNumber+MPExtensions.m -text
Boomerang/NSObject+MPExtensions.h -text
Boomerang/NSObject+MPExtensions.m -text
Boomerang/NSString+MPExtensions.h -text
Boomerang/NSString+MPExtensions.m -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/config.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor.pb.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor.pb.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor.proto -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor_database.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/descriptor_database.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/dynamic_message.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/dynamic_message.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/extension_set.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/extension_set.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/extension_set_heavy.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/generated_enum_reflection.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/generated_message_reflection.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/generated_message_reflection.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/generated_message_util.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/generated_message_util.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/coded_stream.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/coded_stream.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/coded_stream_inl.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/gzip_stream.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/gzip_stream.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/package_info.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/printer.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/printer.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/tokenizer.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/tokenizer.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream_impl.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream_impl.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream_impl_lite.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/io/zero_copy_stream_impl_lite.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/message.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/message.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/message_lite.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/message_lite.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/package_info.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/reflection_ops.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/reflection_ops.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/repeated_field.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/repeated_field.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/service.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/service.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_arm_gcc.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_arm_qnx.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_atomicword_compat.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_generic_gcc.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_macosx.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_mips_gcc.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_pnacl.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_x86_gcc.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_x86_gcc.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_x86_msvc.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/atomicops_internals_x86_msvc.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/common.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/common.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/hash.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/map-util.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/once.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/once.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/platform_macros.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/stl_util.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/stringprintf.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/stringprintf.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/structurally_valid.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/strutil.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/strutil.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/substitute.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/substitute.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/template_util.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/stubs/type_traits.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/text_format.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/text_format.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/unknown_field_set.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/unknown_field_set.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/wire_format.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/wire_format.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/wire_format_lite.cc -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/wire_format_lite.h -text
Boomerang/ThirdParty/Protocol[!!-~]Buffers/google/protobuf/wire_format_lite_inl.h -text
Boomerang/TouchHandler/MPShutdownEvent.h -text
Boomerang/TouchHandler/MPShutdownEvent.m -text
Boomerang/TouchHandler/MPTouchHandlerThread.h -text
Boomerang/TouchHandler/MPTouchHandlerThread.m -text
Boomerang/TouchHandler/MPTouchMetricValue.h -text
Boomerang/TouchHandler/MPTouchMetricValue.m -text
Boomerang/UIView+MPTouchHandler.h -text
Boomerang/UIView+MPTouchHandler.m -text
/BoomerangTests[!!-~]copy-Info.plist -text
BoomerangTests/BoomerangTests-Info.plist -text
BoomerangTests/MPBatchRecordTests.m -text
BoomerangTests/MPBatchTests.m -text
BoomerangTests/MPBeaconURLProcessorTests.m -text
BoomerangTests/MPBucketUtilityTests.m -text
BoomerangTests/MPConfigTests.m -text
BoomerangTests/MPHttpRequestDelegateHelper.h -text
BoomerangTests/MPHttpRequestDelegateHelper.m -text
BoomerangTests/MPHttpRequestTests.m -text
BoomerangTests/MPNumberDictionaryTest.m -text
BoomerangTests/MPPodFrameworksNetworkingTests.m -text
BoomerangTests/MPRemoveUnicodeCharsTest.m -text
BoomerangTests/MPTimerBeaconTests.m -text
BoomerangTests/MPTouchMetricTests.m -text
BoomerangTests/MPTouchTimerTests.m -text
BoomerangTests/en.lproj/InfoPlist.strings -text
Boomerang_NoTTD.xcodeproj/project.pbxproj -text
/Podfile -text
/Podfile.lock -text
Pods/AFNetworking/AFNetworking/AFHTTPClient.h -text
Pods/AFNetworking/AFNetworking/AFHTTPClient.m -text
Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.h -text
Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.m -text
Pods/AFNetworking/AFNetworking/AFImageRequestOperation.h -text
Pods/AFNetworking/AFNetworking/AFImageRequestOperation.m -text
Pods/AFNetworking/AFNetworking/AFJSONRequestOperation.h -text
Pods/AFNetworking/AFNetworking/AFJSONRequestOperation.m -text
Pods/AFNetworking/AFNetworking/AFNetworkActivityIndicatorManager.h -text
Pods/AFNetworking/AFNetworking/AFNetworkActivityIndicatorManager.m -text
Pods/AFNetworking/AFNetworking/AFNetworking.h -text
Pods/AFNetworking/AFNetworking/AFPropertyListRequestOperation.h -text
Pods/AFNetworking/AFNetworking/AFPropertyListRequestOperation.m -text
Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.h -text
Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.m -text
Pods/AFNetworking/AFNetworking/AFXMLRequestOperation.h -text
Pods/AFNetworking/AFNetworking/AFXMLRequestOperation.m -text
Pods/AFNetworking/AFNetworking/UIImageView+AFNetworking.h -text
Pods/AFNetworking/AFNetworking/UIImageView+AFNetworking.m -text
Pods/AFNetworking/LICENSE -text
Pods/AFNetworking/README.md -text
Pods/Headers/Private/AFNetworking/AFHTTPClient.h -text
Pods/Headers/Private/AFNetworking/AFHTTPRequestOperation.h -text
Pods/Headers/Private/AFNetworking/AFImageRequestOperation.h -text
Pods/Headers/Private/AFNetworking/AFJSONRequestOperation.h -text
Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h -text
Pods/Headers/Private/AFNetworking/AFNetworking.h -text
Pods/Headers/Private/AFNetworking/AFPropertyListRequestOperation.h -text
Pods/Headers/Private/AFNetworking/AFURLConnectionOperation.h -text
Pods/Headers/Private/AFNetworking/AFXMLRequestOperation.h -text
Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h -text
Pods/Headers/Private/SDWebImage/NSData+ImageContentType.h -text
Pods/Headers/Private/SDWebImage/SDImageCache.h -text
Pods/Headers/Private/SDWebImage/SDWebImageCompat.h -text
Pods/Headers/Private/SDWebImage/SDWebImageDecoder.h -text
Pods/Headers/Private/SDWebImage/SDWebImageDownloader.h -text
Pods/Headers/Private/SDWebImage/SDWebImageDownloaderOperation.h -text
Pods/Headers/Private/SDWebImage/SDWebImageManager.h -text
Pods/Headers/Private/SDWebImage/SDWebImageOperation.h -text
Pods/Headers/Private/SDWebImage/SDWebImagePrefetcher.h -text
Pods/Headers/Private/SDWebImage/UIButton+WebCache.h -text
Pods/Headers/Private/SDWebImage/UIImage+GIF.h -text
Pods/Headers/Private/SDWebImage/UIImage+MultiFormat.h -text
Pods/Headers/Private/SDWebImage/UIImageView+HighlightedWebCache.h -text
Pods/Headers/Private/SDWebImage/UIImageView+WebCache.h -text
Pods/Headers/Private/SDWebImage/UIView+WebCacheOperation.h -text
Pods/Headers/Public/AFNetworking/AFHTTPClient.h -text
Pods/Headers/Public/AFNetworking/AFHTTPRequestOperation.h -text
Pods/Headers/Public/AFNetworking/AFImageRequestOperation.h -text
Pods/Headers/Public/AFNetworking/AFJSONRequestOperation.h -text
Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h -text
Pods/Headers/Public/AFNetworking/AFNetworking.h -text
Pods/Headers/Public/AFNetworking/AFPropertyListRequestOperation.h -text
Pods/Headers/Public/AFNetworking/AFURLConnectionOperation.h -text
Pods/Headers/Public/AFNetworking/AFXMLRequestOperation.h -text
Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h -text
Pods/Headers/Public/SDWebImage/NSData+ImageContentType.h -text
Pods/Headers/Public/SDWebImage/SDImageCache.h -text
Pods/Headers/Public/SDWebImage/SDWebImageCompat.h -text
Pods/Headers/Public/SDWebImage/SDWebImageDecoder.h -text
Pods/Headers/Public/SDWebImage/SDWebImageDownloader.h -text
Pods/Headers/Public/SDWebImage/SDWebImageDownloaderOperation.h -text
Pods/Headers/Public/SDWebImage/SDWebImageManager.h -text
Pods/Headers/Public/SDWebImage/SDWebImageOperation.h -text
Pods/Headers/Public/SDWebImage/SDWebImagePrefetcher.h -text
Pods/Headers/Public/SDWebImage/UIButton+WebCache.h -text
Pods/Headers/Public/SDWebImage/UIImage+GIF.h -text
Pods/Headers/Public/SDWebImage/UIImage+MultiFormat.h -text
Pods/Headers/Public/SDWebImage/UIImageView+HighlightedWebCache.h -text
Pods/Headers/Public/SDWebImage/UIImageView+WebCache.h -text
Pods/Headers/Public/SDWebImage/UIView+WebCacheOperation.h -text
Pods/Manifest.lock -text
Pods/Pods.xcodeproj/project.pbxproj -text
Pods/SDWebImage/LICENSE -text
Pods/SDWebImage/README.md -text
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.h -text
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.m -text
Pods/SDWebImage/SDWebImage/SDImageCache.h -text
Pods/SDWebImage/SDWebImage/SDImageCache.m -text
Pods/SDWebImage/SDWebImage/SDWebImageCompat.h -text
Pods/SDWebImage/SDWebImage/SDWebImageCompat.m -text
Pods/SDWebImage/SDWebImage/SDWebImageDecoder.h -text
Pods/SDWebImage/SDWebImage/SDWebImageDecoder.m -text
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.h -text
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.m -text
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.h -text
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.m -text
Pods/SDWebImage/SDWebImage/SDWebImageManager.h -text
Pods/SDWebImage/SDWebImage/SDWebImageManager.m -text
Pods/SDWebImage/SDWebImage/SDWebImageOperation.h -text
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.h -text
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.m -text
Pods/SDWebImage/SDWebImage/UIButton+WebCache.h -text
Pods/SDWebImage/SDWebImage/UIButton+WebCache.m -text
Pods/SDWebImage/SDWebImage/UIImage+GIF.h -text
Pods/SDWebImage/SDWebImage/UIImage+GIF.m -text
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.h -text
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.m -text
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.h -text
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.m -text
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.h -text
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.m -text
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.h -text
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.m -text
Pods/Target[!!-~]Support[!!-~]Files/AFNetworking/AFNetworking-dummy.m -text
Pods/Target[!!-~]Support[!!-~]Files/AFNetworking/AFNetworking-prefix.pch -text
Pods/Target[!!-~]Support[!!-~]Files/AFNetworking/AFNetworking.xcconfig -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods-acknowledgements.markdown -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods-acknowledgements.plist -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods-dummy.m -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods-frameworks.sh -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods-resources.sh -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods.debug.xcconfig -text
Pods/Target[!!-~]Support[!!-~]Files/Pods/Pods.release.xcconfig -text
Pods/Target[!!-~]Support[!!-~]Files/SDWebImage/SDWebImage-dummy.m -text
Pods/Target[!!-~]Support[!!-~]Files/SDWebImage/SDWebImage-prefix.pch -text
Pods/Target[!!-~]Support[!!-~]Files/SDWebImage/SDWebImage.xcconfig -text
